In [30]:
import pandas as pd
import numpy as np

In [31]:
daily_data_file_path = 'daily_data.csv'
sleep_data_file_path = 'sleep_data.csv'

daily_df = pd.read_csv(daily_data_file_path)
sleep_df = pd.read_csv(sleep_data_file_path)

Perform merge operation

In [32]:
new_df = pd.DataFrame.merge(daily_df, sleep_df, how='left', on='date')

In [33]:
new_df.head()

,date,steps,step_goal,distance_meters,active_secs,highly_active_secs,vigorous_intensity_secs,total_cal,active_cal,bmr_cal,...,activity_secs,uncategorised_stress_secs,total_recorded_duration_secs,sleep_hrs,sleep_mins,deep_sleep_mins,light_sleep_mins,rem_sleep_mins,awake_mins,unmeasurable_sleep_mins
0,06-Jun-2017,7294,7500,4668,0,30,NaN,1395,95,1300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,07-Jun-2017,10647,7489,6864,3280,1624,NaN,1443,143,1300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,08-Jun-2017,6695,7938,4285,2117,992,NaN,1387,87,1300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,09-Jun-2017,9699,7875,6213,1731,2783,NaN,1426,126,1300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10-Jun-2017,8405,8148,6202,152,3501,NaN,1491,191,1300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Check len of columns

In [34]:
print(len(daily_df))
print(len(new_df))

1958
1958

Check if data is the same

In [35]:
sleep_df[sleep_df['date'] == '29-Jul-2019']

,date,sleep_hrs,sleep_mins,deep_sleep_mins,light_sleep_mins,rem_sleep_mins,awake_mins,unmeasurable_sleep_mins
546,29-Jul-2019,6,5,69,172,121.0,3,0

In [36]:
new_df[new_df['date'] == '29-Jul-2019']

,date,steps,step_goal,distance_meters,active_secs,highly_active_secs,vigorous_intensity_secs,total_cal,active_cal,bmr_cal,...,activity_secs,uncategorised_stress_secs,total_recorded_duration_secs,sleep_hrs,sleep_mins,deep_sleep_mins,light_sleep_mins,rem_sleep_mins,awake_mins,unmeasurable_sleep_mins
695,29-Jul-2019,11660,9000,9231,5351,1530,960.0,2564,525,2039,...,18900.0,17400.0,85980.0,6.0,5.0,69.0,172.0,121.0,3.0,0.0

Move column positions

In [37]:
# Column names
# 'sleep_hrs','sleep_mins','deep_sleep_mins','light_sleep_mins','rem_sleep_mins','awake_mins','unmeasurable_sleep_mins'

sleep_hrs = new_df.pop('sleep_hrs')
new_df.insert(1, 'sleep_hrs', sleep_hrs, False)

sleep_mins = new_df.pop('sleep_mins')
new_df.insert(2, 'sleep_mins', sleep_mins, False)

deep_sleep_mins = new_df.pop('deep_sleep_mins')
new_df.insert(3, 'deep_sleep_mins', deep_sleep_mins, False)

light_sleep_mins = new_df.pop('light_sleep_mins')
new_df.insert(4, 'light_sleep_mins', light_sleep_mins, False)

rem_sleep_mins = new_df.pop('rem_sleep_mins')
new_df.insert(5, 'rem_sleep_mins', rem_sleep_mins, False)

awake_mins = new_df.pop('awake_mins')
new_df.insert(6, 'awake_mins', awake_mins, False)

unmeasurable_sleep_mins = new_df.pop('unmeasurable_sleep_mins')
new_df.insert(7, 'unmeasurable_sleep_mins', unmeasurable_sleep_mins, False)

In [38]:
new_df.tail()

,date,sleep_hrs,sleep_mins,deep_sleep_mins,light_sleep_mins,rem_sleep_mins,awake_mins,unmeasurable_sleep_mins,steps,step_goal,...,avg_stress_level_intensity,max_stress_lvl,low_stress_secs,medium_stress_secs,high_stress_secs,sum_LowMidHigh_stress_secs,rest_secs,activity_secs,uncategorised_stress_secs,total_recorded_duration_secs
1953,12-May-2023,8.0,14.0,56.0,269.0,161.0,8.0,0.0,10345,9000,...,20.0,82.0,17700.0,6540.0,120.0,24360.0,31320.0,12360.0,17280.0,85320.0
1954,13-May-2023,9.0,24.0,51.0,376.0,124.0,13.0,0.0,22088,9000,...,22.0,99.0,5100.0,8580.0,9480.0,23160.0,28500.0,28260.0,6180.0,86100.0
1955,14-May-2023,7.0,52.0,37.0,329.0,89.0,1.0,16.0,11569,9000,...,22.0,87.0,13020.0,10200.0,360.0,23580.0,31620.0,14400.0,16140.0,85740.0
1956,15-May-2023,5.0,57.0,49.0,217.0,89.0,2.0,0.0,15626,9000,...,17.0,94.0,7260.0,3540.0,2100.0,12900.0,30840.0,22800.0,19380.0,85920.0
1957,16-May-2023,7.0,19.0,83.0,257.0,94.0,5.0,0.0,9346,9000,...,20.0,83.0,12360.0,5280.0,480.0,18120.0,36120.0,12000.0,19740.0,85980.0

In [39]:
# reverse order according to date
# new_df = new_df.iloc[::-1]

In [40]:
new_df.to_csv('combined_health_data.csv', index=False)